<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'character/favicon.ico' %}" />
    <link rel="stylesheet" href="{%static 'character/css/character_details.css' %}" />
    <title>character_list</title>
</head>
<body>

    <form action="{% url 'character_status' %}" method="post">
    {% if character_list %}
        {% csrf_token %}
            <select name="character_id">
                {% for character in character_list %}
                    <option value="{{character.id}}">{{character.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" id="character_submit" value="提交">
    {% endif %}
    </form>
</body>
</html>